body{
  background-image: url(https://i.ibb.co/whz0MD4Z/gaspar-zaldo-Gz-Hl2-BGcvmo-unsplash.jpg);
    background-attachment: fixed;
    color: #FAF9F6;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
